/* Poppins Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Reset */
*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Color variables */
:root{    
    /* Accent New */
    --color-accent: #434b91;
    --color-accent-hover: #535db3;
    --color-accent-light: #d6dcff;
    --color-accent-lighter: #eaedff83;

    --color-white: rgba(255, 255, 255, 0.7);
    --color-grey: #333;

    --color-red: #D14848;
    --color-red-hover: #e64f4f;

    --color-green: #50AB4E;
    --color-green-light: #E2FFE8;

    --color-mustard: #ABA24E;
    --color-mustard-light: #FEFFE2;

    --color-brick: #AB4E4E;
    --color-brick-light: #FFE2E2;
}

body{
    font-family: 'poppins';
    height: 100vh;
}

.dark{
    --color-red: #b13a3a;
    --color-red-hover: #e64f4f;

    --color-green: #50AB4E;
    --color-green-light: #18171b81;

    --color-mustard: #ABA24E;
    --color-mustard-light: #18171b81;

    --color-brick: #AB4E4E;
    --color-brick-light: #18171b81;
}

body[accent = 'purple-dark']{
    /* Changed */
    --color-white: #26262e; /* Card Color */
    --color-grey: #ffffff; /* Font Color */
    --color-accent-light: #18171b;  /* Background and highlights*/
    --color-accent-lighter: #16151a28; /* Todo item effect */

    --color-accent: #616cd1;
    --color-accent-hover: #7683f7;
}

body[accent = 'purple-dark'] .svg{
    /* White */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(330deg) brightness(101%) contrast(106%);
}

body[accent = 'purple-dark'] .svg-accent, body[accent = 'purple-dark'] .tick{
    /* Accent */
    filter: invert(29%) sepia(69%) saturate(670%) hue-rotate(205deg) brightness(94%) contrast(93%);
}

body[accent = 'purple-dark'] .remove-project-btn:hover, body[accent = 'purple-dark'] .remove-button{
    /* Red */
    filter: invert(25%) sepia(75%) saturate(1020%) hue-rotate(325deg) brightness(130%) contrast(98%);
}


input {
    all: unset;
    color: var(--color-grey);
}

#content{
    height: 100%;
    background-color: var(--color-accent-light);
    padding: 45px;
    display: flex;
    gap: 30px;
}

/* Sidebar */
.sidebar, .main{
    background-color: var(--color-white);
    border-radius: 30px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.197);
}

.sidebar{
    width: 27%;
    min-width: 350px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    user-select: none;
    /* Hide scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Profile Section */
.profile-section{
    padding: 22px;
    background-color: var(--color-accent-light);
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 16px;
    margin-bottom: 10px;
}

.profile-picture{
    width: 60px;
    height: 60px;
    display: grid;

    place-content: center;
    place-items: center;

    /* border: 1px solid var(--color-accent); */
    border-radius: 100px;

    overflow: hidden;
    grid-row: 1/-1;
}

.profile-picture img {
    width: 85%;
    filter: invert(15%) sepia(8%) saturate(0%) hue-rotate(179deg) brightness(91%) contrast(82%); /* Grey */
    /* filter: invert(29%) sepia(69%) saturate(670%) hue-rotate(205deg) brightness(94%) contrast(93%);  */
}

.username, .menu-title, .projects-title{
    color: var(--color-grey);
    font-weight: bold;
    font-size: 26px;
}

.taskmaster{
    color: var(--color-accent);
    font-weight: 500;
    font-size: 16px;
    margin-top: -7px;
}

/* Menu Section */
.menu-section, .projects-section{
    display: grid;
    gap: 10px;
}

.menu-item{
    border: 2px solid var(--color-accent-light);
    border-radius: 12px;
    padding: 12px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    color: var(--color-grey);
    font-size: 18px;
    /* transition: all 0.3s; */
}

.menu-body, .projects-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* class to show and hide menu items*/
.hide{
    display: none;
}

.menu-item img{
    width: 20px;
    height: 20px;
}

/* Projects Section */
.projects-title-container, .menu-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-item{
    border: 2px solid var(--color-accent-light);
    border-radius: 12px;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    color: var(--color-grey);
    font-size: 18px;
    /* transition: all 0.3s; */
}

.project-item:hover, .menu-item:hover{
    background-color: var(--color-accent-light);
    color: var(--color-accent);
    cursor:default;
}

.selected{
    background-color: var(--color-accent-light);
    /* border-color: var(--color-accent); */
    color: var(--color-accent);
    cursor:default;
}

.add-btn{
    width: 27px;
}

.dropdown-btn, .dropdown-btn-projects{
    width: 25px;
}

.dropdown-btn-projects{
}

.add-mode{
    width: 27px;
    margin-right: -1px;
}

.expanded{
    transform: rotate(180deg);
}

.remove-project-btn {
    width: 14px;
    /* color-grey */
    filter: invert(15%) sepia(8%) saturate(0%) hue-rotate(179deg) brightness(91%) contrast(82%);
}
.remove-project-btn:hover{
    /* color-red */
    filter: invert(25%) sepia(75%) saturate(1020%) hue-rotate(325deg) brightness(130%) contrast(98%);
}
/* Main */

.main-title-container{
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 30px;
    /* display: flex;
    justify-content: space-between; */
}

.main{
    flex: 1;
    display: grid;
    padding: 45px 55px;
    align-content: start;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.main-title{
    color: var(--color-grey);
    font-weight: bold;
    font-size: 36px;
}

.main-title-input{
    color: var(--color-grey);
    background-color: var(--color-accent-light);
    font-weight: bold;
    font-size: 26px;
    min-width: 100px;
    border-radius: 14px;
    padding: 14px 0px;
    padding-left: 24px;
}

.main-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;

    /* Set overflow to scroll and hide scroll bar */
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.main-body::-webkit-scrollbar { 
    display: none;
}

.main-info{
    display: grid;
    height: 100%;
    place-content: center;
    font-size: 20px;
    color: var(--color-grey);
}

/* Todo Item */
.todo-item{
    padding: 20px 25px;
    border: 2px solid var(--color-accent-light);
    border-radius: 12px;
    user-select: none;
}
.todo-item:hover{
    background-color: var(--color-accent-lighter);
}
.view{
    background-color: var(--color-accent-lighter)
}

.todo-item-main{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 20px;
    align-content: center;
    align-items: center;
}

.description-container{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    color: var(--color-grey);
}

.description-title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: left;
    display: none;
}

.description-body{
    font-size: 15px;
    border-top: 1px solid var(--color-accent-light);
    /* border-radius: 11px; */
    padding-top: 10px;
    text-align: left;
}

/* Buttons container */
.buttons-container, .data-container{
    display: flex;
    gap: 20px;
}

.priority-container, .date-container{
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
    background-color: var(--color-accent-light);
    padding: 8px 0px;
    width: 140px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 100px;
    text-align: center;
}

.priority-container{
    width: 110px;
}

.priority-container[priority = 'low']{
    color: var(--color-green);
    border-color: var(--color-green);
    background-color: var(--color-green-light);
}

.priority-container[priority = 'medium']{
    color: var(--color-mustard);
    border-color: var(--color-mustard);
    background-color: var(--color-mustard-light);
}

.priority-container[priority = 'high']{
    color: var(--color-brick);
    border-color: var(--color-brick);
    background-color: var(--color-brick-light);
}

.tick, .edit-button, .remove-button{
    width: 28px;
}

.tick, .edit-button{
    /* color-grey */
    /* filter: invert(15%) sepia(8%) saturate(0%) hue-rotate(179deg) brightness(91%) contrast(82%); */

    /* color-accent */
    filter: invert(29%) sepia(69%) saturate(670%) hue-rotate(205deg) brightness(94%) contrast(93%);
}

.tick{
    width: 32px;
    opacity: 10%;
}
.tick:hover{
    opacity: 100%;
}
.checked{
    opacity: 100%;
}

.remove-button{
    width: 31px;
    /* color-red */
    filter: invert(25%) sepia(75%) saturate(1020%) hue-rotate(325deg) brightness(130%) contrast(98%);
}

.todo-title{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-grey);
}

.strike{
    text-decoration: line-through;
}

.ghost{
    opacity: 20%;
    text-decoration: line-through;
    /* pointer-events: none; */
}

.hidden{
    display: none;
}

/* Todo Edit Mode */
.edit{
    background-color: var(--color-accent-lighter);
}

.edit-form{
    display: grid;
    gap: 15px;
    width: 95%;
    margin: auto;
    padding: 5px 0px;
}

.edit-form-1{
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 25px;
    color: var(--color-grey);
}

.edit-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.edit-container textarea{
    resize: vertical;
    min-height: 80px;
    max-height: 300px;  
    line-height: normal;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.edit-container textarea::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.edit-label{
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grey);
}

.edit-input{
    background: var(--color-accent-light);
    border-radius: 8px;
    padding: 8px 15px;
    font-family: 'poppins';
    font-size: 15px;
    outline: none;
    color: var(--color-grey);
}

.edit-input:focus{
}

.edit-form-3{
    display: flex;
    justify-content: end;
    gap: 14px;
    margin-top: 10px;
}

.btn-cancel, .btn-save{
    background-color: var(--color-accent);
    border-radius: 100px;
    color: white;
    padding: 12px 0px;
    width: 100px;
    font-weight: 600;
    font-size: 15px;
}
.btn-save:hover{
    background-color: var(--color-accent-hover);
}

.btn-cancel{
    background-color: var(--color-red);
}
.btn-cancel:hover{
    background-color: var(--color-red-hover);
}

.unclickable{
    pointer-events: none;
}

/* New Project */
.new-project-container{
    display: grid;
    gap: 10px;
    width: 100%;
}

.new-project-input{
    /* border: 2px solid var(--color-accent-light); */
    background-color: var(--color-accent-light);
    font-size: 18px;
    border-radius: 12px;
    padding: 12px 20px;
    min-width: 100px;
}

.new-project-buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}

.new-project-button{
    background-color: var(--color-accent);
    border-radius: 100px;
    color: white;
    padding: 12px 0px;
    width: 100px;
    font-weight: 600;
    font-size: 15px;
}

.new-project-button-cancel{
    background-color: var(--color-red);
}
.new-project-button-add:hover{
    background-color: var(--color-accent-hover);
}
.new-project-button-cancel:hover{
    background-color: var(--color-red-hover);
}

.projects-info{
    height: 80px;
    display: grid;
    place-content: center;
    color: var(--color-grey);
}
