/* Poppins Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Reset */
*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Color variables */
:root{    
    /* Accent New */
    --color-accent: #434b91;
    --color-accent-hover: #535db3;
    --color-accent-light: #d6dcff;
    --color-accent-lighter: #eaedff83;

    --color-white: rgba(255, 255, 255, 0.7);
    --color-grey: #333;

    --color-red: #D14848;
    --color-red-hover: #e64f4f;

    --color-green: #50AB4E;
    --color-green-light: #E2FFE8;

    --color-mustard: #ABA24E;
    --color-mustard-light: #FEFFE2;

    --color-brick: #AB4E4E;
    --color-brick-light: #FFE2E2;
}

/* 
    Font size: 19

    .main-title --> 28px
    .username, .menu-title, .projects-title, .main-title-input --> 20px
    .main-info .todo-title --> 17px
    .menu-item .project-item .new-project-input --> 15px
    .username-input --> 14px
    .description-body .priority-container, .date-container edit-input .btn-cancel, .btn-save .new-project-button .settings-btn --> 12px
    .taskmaster .description-title .edit-label --> 13px

*/

body{
    font-family: 'poppins';
    height: 100vh;
}

button{
    font-family: 'poppins';
    font-size: 12px;
}

input {
    all: unset;
    color: var(--color-grey);
    font-family: 'poppins';
    font-size: 12px;
}

html{
    height: 100lvh;
    width: 100vw;
}

#content{
    height: 100%;
    width: 100%;
    background-color: var(--color-accent-light);
    display: flex;
    padding: 34px;
    gap: 24px;
}

/* Sidebar */
.sidebar, .main{
    background-color: var(--color-white);
    border-radius: 26px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.197);
}

.sidebar{
    width: 27%;
    min-width: 340px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    user-select: none;
    /* Hide scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Profile Section */
.profile-section{
    padding: 18px 22px;
    background-color: var(--color-accent-light);
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    column-gap: 18px;
    align-items: center;
}

.settings-icon{
    grid-column: -2/-1;
    grid-row: 1/-1;
}

.profile-picture{
    width: 50px;
    height: 50px;
    display: grid;

    place-content: center;
    place-items: center;

    /* border: 1px solid var(--color-accent); */
    border-radius: 100px;

    overflow: hidden;
    grid-row: 1/-1;
}

.profile-picture img {
    width: 100%;
    /* filter: invert(15%) sepia(8%) saturate(0%) hue-rotate(179deg) brightness(91%) contrast(82%);  */
}

.username, .menu-title, .projects-title{
    color: var(--color-grey);
    font-weight: bold;
    font-size: 20px;
}

.taskmaster{
    color: var(--color-accent);
    font-weight: 500;
    font-size: 13px;
    margin-top: -8px;
}

/* Menu Section */
.menu-section, .projects-section{
    display: grid;
    gap: 8px;
}

.project-item, .menu-item{
    border: 2px solid var(--color-accent-light);
    border-radius: 10px;
    padding: 10px 18px;
    display: flex;
    font-weight: 500;
    color: var(--color-grey);
    font-size: 15px;
}

.menu-item{
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.menu-body, .projects-body{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* class to show and hide menu items*/
.hide{
    display: none;
}

.menu-item img{
    width: 17px;
    height: 17px;
}

/* Projects Section */
.projects-title-container, .menu-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-item{
    justify-content: space-between;
}

.project-item:hover, .menu-item:hover{
    background-color: var(--color-accent-light);
    color: var(--color-accent);
    cursor:default;
}

.selected{
    background-color: var(--color-accent-light);
    /* border-color: var(--color-accent); */
    color: var(--color-accent);
    cursor:default;
}
/* 
.add-btn{
    width: 50px;
} */

.dropdown-btn, .dropdown-btn-projects{
    width: 24px;
}

.dropdown-btn-projects{
}

.add-mode{
    width: 26px;
    margin-right: -1px;
}

.expanded{
    transform: rotate(180deg);
}

.remove-project-btn {
    width: 14px;
    /* color-grey */
    filter: invert(15%) sepia(8%) saturate(0%) hue-rotate(179deg) brightness(91%) contrast(82%);
}
.remove-project-btn:hover{
    /* color-red */
    filter: invert(25%) sepia(75%) saturate(1020%) hue-rotate(325deg) brightness(130%) contrast(98%);
}
/* Main */

.main-title-container{
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 22px;
    /* display: flex;
    justify-content: space-between; */
}

.main{
    flex: 1;
    display: grid;
    padding: 36px 42px;
    align-content: start;
    display: flex;
    gap: 17px;
    flex-direction: column;
}

.edit-title-button{
    width: 24px;
}

.add-todo-button{
    width: 28px;
}

.save-mode{
    width: 27px;
}

.main-title{
    color: var(--color-grey);
    font-weight: bold;
    font-size: 28px;
}

.main-title-input{
    color: var(--color-grey);
    background-color: var(--color-accent-light);
    font-weight: bold;
    font-size: 20px;
    min-width: 100px;
    border-radius: 10px;
    padding: 10px 0px;
    padding-left: 20px;
}

.main-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;

    /* Set overflow to scroll and hide scroll bar */
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.main-body::-webkit-scrollbar { 
    display: none;
}

.main-info{
    display: grid;
    height: 100%;
    place-content: center;
    font-size: 17px;
    color: var(--color-grey);
}

/* Todo Item */
.todo-item{
    padding: 16px 22px;
    border: 2px solid var(--color-accent-light);
    border-radius: 12px;
    user-select: none;
}
.todo-item:hover{
    background-color: var(--color-accent-lighter);
}
.view{
    background-color: var(--color-accent-lighter)
}

.todo-item-main{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 18px;
    align-content: center;
    align-items: center;
}

.description-container{
    width: 95%;
    margin: auto;
    margin-top: 16px;
    color: var(--color-grey);
}

.description-title{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: left;
    display: none;
}

.description-body{
    font-size: 12px;
    border-top: 1px solid var(--color-accent-light);
    /* border-radius: 11px; */
    padding-top: 10px;
    text-align: left;
}

/* Buttons container */
.buttons-container, .data-container{
    display: flex;
    align-items: center;
    gap: 16px;
}

.priority-container, .date-container{
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
    background-color: var(--color-accent-light);
    padding: 8px 0px;
    width: 120px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 100px;
    text-align: center;
    
    display: grid;
    place-content: center;
}

.priority-container{
    width: 90px;
}

.priority-container[priority = 'low']{
    color: var(--color-green);
    border-color: var(--color-green);
    background-color: var(--color-green-light);
}

.priority-container[priority = 'medium']{
    color: var(--color-mustard);
    border-color: var(--color-mustard);
    background-color: var(--color-mustard-light);
}

.priority-container[priority = 'high']{
    color: var(--color-brick);
    border-color: var(--color-brick);
    background-color: var(--color-brick-light);
}

.tick, .edit-button{
    /* color-accent */
    filter: invert(29%) sepia(69%) saturate(670%) hue-rotate(205deg) brightness(94%) contrast(93%);
}

.edit-button{
    width: 23px;
}

.tick{
    width: 24px;
    opacity: 10%;
}

.tick:hover{
    opacity: 100%;
}
.checked{
    opacity: 100%;
}

.remove-button{
    width: 25.5px;
    /* color-red */
    filter: invert(25%) sepia(75%) saturate(1020%) hue-rotate(325deg) brightness(130%) contrast(98%);
}

.todo-title{
    font-size: 17px;
    font-weight: 600;
    color: var(--color-grey);
}

.strike{
    text-decoration: line-through;
}

.ghost{
    opacity: 20%;
    text-decoration: line-through;
    /* pointer-events: none; */
}

.hidden{
    display: none;
}

/* Todo Edit Mode */
.edit{
    background-color: var(--color-accent-lighter);
}

.edit-form{
    display: grid;
    gap: 10px;
    width: 98%;
    margin: auto;
    padding: 4px 0px;
}

.edit-form-1{
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 18px;
    color: var(--color-grey);
}

.edit-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 50px;
}

.edit-container textarea{
    resize: vertical;
    min-height: 70px;
    max-height: 300px;  
    line-height: normal;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.edit-container textarea::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.edit-label{
    font-weight: 500;
    font-size: 13px;
    color: var(--color-grey);
}

.edit-input{
    background: var(--color-accent-light);
    border-radius: 8px;
    padding: 8px 15px;
    font-family: 'poppins';
    font-size: 12px;
    outline: none;
    color: var(--color-grey);
}

.edit-form-3{
    display: flex;
    justify-content: end;
    gap: 12px;
    margin-top: 6px;
}

.btn-cancel, .btn-save{
    background-color: var(--color-accent);
    border-radius: 100px;
    color: white;
    padding: 10px 0px;
    width: 80px;
    font-weight: 600;
    font-size: 12px;
}
.btn-save:hover{
    background-color: var(--color-accent-hover);
}

.btn-cancel{
    background-color: var(--color-red);
}
.btn-cancel:hover{
    background-color: var(--color-red-hover);
}

.unclickable{
    pointer-events: none;
}

/* New Project */
.new-project-container{
    display: grid;
    gap: 8px;
    width: 100%;
}

.new-project-input{
    border: 2px solid var(--color-accent-light);
    /* background-color: var(--color-accent-light); */
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px 18px;
    min-width: 100px;
}

.new-project-buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}

.new-project-button{
    background-color: var(--color-accent);
    border-radius: 100px;
    color: white;
    padding: 10px 0px;
    width: 80px;
    font-weight: 600;
    font-size: 12px;
}

.new-project-button-cancel{
    background-color: var(--color-red);
}
.new-project-button-add:hover{
    background-color: var(--color-accent-hover);
}
.new-project-button-cancel:hover{
    background-color: var(--color-red-hover);
}

.projects-info{
    height: 80px;
    display: grid;
    place-content: center;
    color: var(--color-grey);
}

/* Settings Overlay */
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(132, 132, 132, 0.259);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000   ;
    backdrop-filter: blur(4px);
    display: grid;
    place-content: center;
    place-items: center;
}

.settings-card{
    background-color: var(--color-white);
    box-shadow: 2px 2px 2px var(--color-accent-lighter);
    padding: 40px;
    border-radius: 16px;
    display:  grid;
    gap: 15px;
}

.username-container{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.username-input{
    border-radius: 50px;
    background-color: var(--color-accent-lighter);
    border: 2px solid var(--color-accent-light);
    height: 35px;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: var(--color-accent);
    padding: 0 10px;
    width: 100%;
}

.avatar-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.1s;
}

.avatar-image{
    width: 110%;
}

.accent-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.accent{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.455);
}

.accent-green{
    background-color: #88e78e;
}
.accent-cyan{
    background-color: #88e7d7;
}
.accent-blue{
    background-color: #888ee7;
}
.accent-purple{
    background-color: #ab88e7;
}
.accent-pink{
    background-color: #e788c1;
}
.accent-red{
    background-color: #e78888;
}


.settings-buttons-container{
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.theme-toggle{
    width: 70px;
    background-color: var(--color-accent-light);
    border-radius: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0px 4px;
}

.dark-on{
    justify-content: end;
}

.toggle-circle{
    width: 28px;
    height: 28px;
    background-color: var(--color-accent);
    border-radius: 50px;
}

.settings-btn{
    flex: 1;
    height: 35px;
    font-size: 12px;
    font-weight: 600;
    display: grid;
    place-content: center;
    border-radius: 50px;
}

.settings-default-btn{
    background-color: var(--color-accent-light);
    color: var(--color-accent);
}

.settings-save-btn{
    color: var(--color-white);
    background: var(--color-accent);
}

.chosen{
    /* border: 2px solid var(--color-accent); */
    transform: scale(0.95);
    transition: all 0.1s;
}

.chosen::before{
    height: 100%;
    content: '✓';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.455);
    font-weight: 600;
}

.avatar-chosen{
    border: 2px solid var(--color-grey);
}

.menu-btn{
    color: var(--color-accent);
    background: none;
    font-size: 14px;
    padding: 4px 6px;
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 600;
}

.show-mobile{
    display: none;
}


/* Media Queries */

/* 1201px and above */
@media (max-width: 1200px) {
    /* Font Sizes */
    .main-title{
        font-size: 24px;
    }
    .username{
        font-size: 17px;
    }
    .main-info, .todo-title{
        font-size: 15px;
    }
    .menu-item, .project-item, .new-project-input, .taskmaster{
        font-size: 13px;
    }
    .username-input, .description-title, .edit-label{
        font-size: 11px;
    }
    .description-body, .priority-container, .date-container, .edit-input, .btn-cancel, .btn-save, .new-project-button, .settings-btn{
        font-size: 10px;
    }

    /* SVG size */
    .menu-item img{
        width: 14px;
    }
    .dropdown-btn, .dropdown-btn-projects{
        width: 16px;
    }
    .add-mode{
        width: 18px;
    }
    .remove-project-btn{
        width: 12px;
    }
    .edit-button{
        width: 19px;
    }
    .remove-button{
        width: 20px;
    }
    .tick{
        width: 20px;
    }

    /* Buttons size */
    .priority-container{
        width: 70px;
    }
    .date-container{
        width: 90px;
    }
    .priority-container, .date-container, .new-project-button, .todo-edit-btn{
        padding: 6px 0px;
    }
    .new-project-button, .todo-edit-btn{
        width: 70px;
    }

    /* Padding and Gaps */
    #content{
        padding: 30px;
        gap: 20px;
    }
    .main{
        padding: 30px 36px;
    }
    .project-item, .menu-item, .new-project-input{
        padding: 7px 12px;
    }
    .profile-section{
        padding: 12px 16px;
    }
    .profile-picture{
        width: 45px;
        height: 45px;
    }
    .todo-item{
        padding: 12px 16px;
    }
    .data-container,.buttons-container, .todo-item-main{
        gap: 12px;
    }
}

/* 1024px and above */
@media (max-width: 1024px) {
    #content{
        padding: 0px;
        gap: 0px;
    }
    .sidebar, .main{
        border-radius: 0px;
        box-shadow: none;
    }
    .sidebar{
        min-width: 270px;
    }
    .main{
        padding: 30px 30px 30px 5px;
        gap: 10px;
    }
    .projects-body, .menu-body{
        gap: 4px;
    }
    .main-body{
        gap: 4px;
    }
    .profile-section{
        column-gap: 12px;
    }

    /* Font Sizes */
    .main-title{
        font-size: 22px;
    }
    .menu-title, .projects-title{
        font-size: 16px;
    }
    .main-info, .todo-title, .username{
        font-size: 14px;
    }
    .menu-item, .project-item, .new-project-input{
        font-size: 12px;
    }
    .username-input, .description-title, .edit-label, .taskmaster{
        font-size: 11px;
    }
    .description-body, .priority-container, .date-container, .edit-input, .btn-cancel, .btn-save, .new-project-button, .settings-btn{
        font-size: 10px;
    }
    .taskmaster{
        align-self: flex-start;
        margin-top: -3px;
    }
    .username{
        align-self: flex-end;
    }

    /* SVG size */
    .menu-item img{
        width: 12px;
    }
    .dropdown-btn, .dropdown-btn-projects{
        width: 14px;
    }
    .add-mode{
        width: 15px;
    }
    .remove-project-btn{
        width: 10px;
    }
    .edit-button{
        width: 15px;
    }
    .remove-button{
        width: 16px;
    }
    .tick{
        width: 16px;
    }
    .settings-icon{
        width: 20px;
    }
    .edit-title-button{
        width: 18px;
    }
    .save-mode{
        width: 20px;
    }
    .add-todo-button{
        width: 20px;
    }

     /* Buttons size */
    .priority-container, .date-container, .new-project-button, .todo-edit-btn{
        padding: 4px 0px;
    }

    /* Padding and Gaps */
    .todo-item{
        padding: 8px 14px;
    }
    .data-container,.buttons-container, .todo-item-main{
        gap: 10px;
    }   
    .menu-item{
        gap: 10px;
    }
    .main-title-input{
        padding: 8px 12px;
    }
    .main-title-container{
        gap: 12px;
    }
}

/* 768px and above */
@media (max-width: 768px) {
    /* #content{
        flex-direction: column;
    }   
    .sidebar{
        width: 100%;
    }  */

    /* Collapsing sidebar */ 
    .sidebar{
        position: absolute;
        left: -300px;
        height: 100vh;
        z-index: 10;
    }
    .sidebar-expanded{
        left: 0px;
    }
    .main{
        padding: 40px 30px;
    }
    .todo-title{
        font-size: 12px;
    }
    .main-title{
        font-size: 20px;
    }
    .description-body, .priority-container, .date-container, .edit-input, .btn-cancel, .btn-save, .new-project-button, .settings-btn{
        font-size: 9px;
    }
    .date-container{
        width: 78px;
    }
    .priority-container{
        width: 60px;
    }
    .new-project-button, .todo-edit-btn{
        width: 55px;
    }
    .edit-form-3{
        gap: 6px;
    }
    .show-mobile{
        display: block;
        z-index: 100;
    }
}

/* 480px and above */
@media (max-width: 480px) {
    .todo-title{
        font-size: 10px;
    }
    .todo-item{
        padding: 4px 10px;
    }
    .main{
        padding-left: 15px;
        padding-right: 15px;
    }
    .description-body, .priority-container, .date-container, .edit-input, .btn-cancel, .btn-save, .new-project-button, .settings-btn{
        font-size: 8px;
    }
    .date-container{
        width: 70px;
        place-content: center;
    }
    .priority-container{
        width: 55px;
    }
    .todo-item-main, .data-container, .buttons-container{
        gap: 6px;
    }
    .todo-item{
        border-radius: 8px;
    }
    .settings-card{
        background-color: var(--color-white);
        box-shadow: 2px 2px 2px var(--color-accent-lighter);
        padding: 20px;
        border-radius: 16px;
        display:  grid;
        gap: 5px;
    }
}

/* 320px and above */
@media (max-width: 1201px) {
    
}

