/* Poppins Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Reset */
*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Color variables */
:root{
    --color-accent: #504EAB;
    --color-accent-light: #E2E9FF;

    /* Accent Test */
    --color-accent: #ab4e4e;
    --color-accent-light: #ffe2e2;

    --color-accent-hover: #5856be;

    --color-white: rgba(255, 255, 255, 0.7);
    --color-grey: #333;

    --color-red: #D14848;
    --color-red-hover: #e64f4f;

    --color-green: #50AB4E;
    --color-green-light: #E2FFE8;

    --color-mustard: #ABA24E;
    --color-mustard-light: #FEFFE2;

    --color-brick: #AB4E4E;
    --color-brick-light: #FFE2E2;
}

body{
    font-family: 'poppins';
    height: 100vh;
}

#content{
    height: 100%;
    background-color: var(--color-accent-light);
    padding: 45px;
    display: flex;
    gap: 30px;
}

/* Sidebar */
.sidebar, .main{
    background-color: var(--color-white);
    border-radius: 30px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.197);
}

.sidebar{
    width: 28%;
    min-width: 350px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
    /* Hide scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.main{
    flex: 1;
    display: flex;
    justify-content: center;    
    align-items: center;
}

/* Profile Section */
.profile-section{
    padding: 22px;
    background-color: var(--color-accent-light);
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 18px;
}

.profile-picture{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-row: 1/-1;
}

.profile-picture img {
    width: 100%;
}

.username, .menu-title, .projects-title{
    color: var(--color-grey);
    font-weight: bold;
    font-size: 26px;
}

.taskmaster{
    color: var(--color-accent);
    font-weight: 500;
    font-size: 16px;
    margin-top: -7px;
}

/* Menu Section */
.menu-section, .projects-section{
    display: grid;
    gap: 16px;
}
.menu-item{
    border: 2px solid var(--color-accent-light);
    border-radius: 12px;
    padding: 12px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    color: var(--color-grey);
    font-size: 18px;
    transition: all 0.2s;
}

.menu-body, .projects-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 1s;
}

.menu-item img{
    width: 20px;
    height: 20px;
}

/* Projects Section */
.projects-title-container, .menu-title-container{
    /* margin-bottom: 15px;     */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-item{
    border: 2px solid var(--color-accent-light);
    border-radius: 12px;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    color: var(--color-grey);
    font-size: 18px;
    transition: all 0.2s;
}

.project-item:hover, .menu-item:hover{
    background-color: var(--color-accent-light);
    cursor:default;
}

.selected{
    
}

.add-btn, .dropdown-btn{
    width: 27px;
    margin-top: -2px;
    /* color-accent */
    filter: invert(29%) sepia(69%) saturate(670%) hue-rotate(205deg) brightness(94%) contrast(93%);
    /* color-grey */
    filter: invert(15%) sepia(8%) saturate(0%) hue-rotate(179deg) brightness(91%) contrast(82%);

}

.dropdown-btn{
    width: 25px;
}

.expanded{
    transform: rotate(180deg);
}

.remove-project-btn {
    width: 14px;
    /* color-grey */
    filter: invert(15%) sepia(8%) saturate(0%) hue-rotate(179deg) brightness(91%) contrast(82%);
}

/* class to hide elements */
.hide{
    display: none;
}



